<footer>
	<p>Aplicacion node js, MongoDB, Multer: galery de imagenes con multer, carga de imagen, eliminar imagen, visualizar galeria, imagen en modal</p>
	<p>Node js, Bootstrap, dependencia: ejs, express, fs-extra, mongoose, morgan, multer, timeago.js, uuid</p>
	<p>Febrero 2020</p>
</footer>